.layout {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 0 10px 16px;
  line-height: var(--app-layout-line-height);
  border-bottom: 1px solid var(--app-color-gray100);
  height: 38px;
}

.mainLayout {
  height: calc(100vh - 38px);
}

.mainLayout :global(.ant-drawer) {
  outline: none;
}

.mainLayoutContentWrapper {
  position: relative;
  overflow: hidden;
}

.mainLayoutContent {
  margin: 0;
  min-height: 280px;
  background: white;
  overflow: auto;
  height: 100%;
  padding: var(--app-layout-gap) calc(var(--app-layout-gap) * 2) 0;
  position: relative;
}

.mainLayoutContent::before {
  content: "";
  display: flex;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--app-color-gray100);
  position: absolute;
  top: calc(var(--app-header-height) - 1px);
  left: 0;
  right: 0;
}

.sider {
  background: #fff;
  border-right: 1px solid var(--app-color-gray100);
}

.siderContent {
  height: 100%;
  justify-content: space-between;
}

.appContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
